.header {
	grid-area:header
}

.main {
	grid-area:main;
	
}

.featured-container{
	grid-area:featured;
	background:violet;	
}

.container {
  display:grid;
  grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"featured"
	"main"
	"footer";
	grid-gap:10px;
	/* margin: 5px 50px; */
}


.featured-card .thumbnail {
	grid-area:thumbnail
}

.featured-card .title {
	grid-area:title;	
}

.featured-card .author{
	grid-area:author;
}
.featured-card .pages{
	grid-area:pages;
}

.featured-card .description{
	grid-area:description;
}

.featured-card div{
	display:grid;
  grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"thumbnail"
	"title"
	"author"
	"pages"
	"description";
	margin: 10px 20px;
	padding: 10px;
	justify-items: center;
}

/* ####################################################
M E D I A  Q U E R I E S */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container {
		grid-template-areas: 
		"header header"
		/* "menu menu menu menu" */
    "main featured"
    "footer footer";
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries */

 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}
 
 