.container h1, .featured-container h2 {
	text-align: center;
}
.header {
	grid-area:header
}

.books-container {
	grid-area:books;
	
}

.featured-container {
	grid-area:featured;
	background:violet;
}

.container {
  display:grid;
  grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"header"
	"featured"
	"books"
	"footer";
	grid-gap:10px;
	/* margin: 5px 50px; */
}

.featured-card {
	background: red;
	margin: 10px 20px;
}

.featured-card .thumbnail {
	grid-area:thumbnail
}

.featured-card .title {
	grid-area:title;	
}

.featured-card .author{
	grid-area:author;
}
.featured-card .pages{
	grid-area:pages;
}

.featured-card .description{
	grid-area:description;
}

.featured-card div{
	display:grid;
  grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"thumbnail"
	"title"
	"author"
	"pages"
	"description";
	padding: 10px;
	justify-items: center;
	text-align: center;
}

.book-cards .thumbnail {
	grid-area:thumbnail;
}

.book-cards .title {
	grid-area:title;	
}

.book-cards .author{
	grid-area:author;
}
.book-cards .pages{
	grid-area:pages;
}

.book-cards .description{
	grid-area:description;
}

.book-cards div{
	display:grid;
  grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"thumbnail title "
	"thumbnail author "
	"thumbnail pages "
	"thumbnail description";
	margin: 10px 0px;
	padding: 10px;
	justify-items: start;
	background: red;
}

 p {
	margin:5px;
	font-size:12px;
}

/* M E D I A  Q U E R I E S */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container {
		grid-template-areas: 
		"header header header"
		/* "menu menu menu menu" */
    "books books featured"
    /* "books books featured" */
    "footer footer footer";
	}

	.book-cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
	}

	.book-cards div {
		margin:5px;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}

 